@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ! to style scroll bar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(192 132 252 / var(--tw-bg-opacity));
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: rgb(107 33 168 / var(--tw-bg-opacity));
}

/* ! end of scrollbar styling */

.ConversationList a {
  width: 100%;
}
